*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-header{
    background-color: rgb(17, 16, 16);
    color: white;   
}

.nav-container{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inline-nav{
    display: flex;
    flex-direction: row;
    height: 70px;
}

.top-nav-bar{
    line-height: 70px;
}

.top-nav-bar h1{
    font-size: 45px;
    margin: 0 40px 0 0;

}

/* Icon styles */
.top-nav-bar .icon{
    position: relative;
    line-height: 70px;
    margin-left: 30px;
   
}

.top-nav-bar .icon a{
    color: rgb(210, 199, 199);
    text-decoration: none;
    line-height: 70px;
}


.top-nav-bar .icon a span{
    color: red;
    position: absolute;
    top: 20px;
    left: 40px;
    margin-top: 10px;
    font-size: 17px;
}

.top-nav-bar .icon .material-icons{
    font-size:36px; 
    line-height: 70px;
    color: whitesmoke;
}
.fa-person{
    display: flex;
    padding:  10px 50px 0 80px;
    font-size:36px; 
    line-height: 70px;
    color: whitesmoke;
}
.fa-cart-shopping{
    font-size:25px; 
    line-height: 70px;
    color: whitesmoke;
}


.bottom-nav-bar{
    line-height: 70px;
}



.bottom-nav-bar div ul{
    display: flex;
    flex-direction: row;
}

.bottom-nav-bar div ul li{
    list-style: none;
    color: white;
    font-size: 14px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-nav-bar div ul li.discount{
    color: rgb(222, 14, 49);
    font-size: 20px;
    margin: 0 20px 0 20px;
}

.bottom-nav-bar div ul li a{
    font-size: 16px;
    color: rgb(216, 211, 211);
    text-decoration: none;
}

.srch-container{
    font-weight: 200;
    border-radius: 50px;
    width:400px;
    height:40px;
    padding-left: 50px;
    border: none;   
}

/* Features and products and icons */
.features{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 30px;
}

.features .text-advert{
    margin-left: 50px;
    font-size: 1.2rem;
}

.features .features-container{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.features .product{
    width: 150px;
    font-size: 12px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
}

.features .product .fa{
    font-size: 30px;
    padding: 10px;
}

.features .product h3{
    color: rgb(26, 26, 26);
    font-weight: 700;
}

.features .product p{
    color: rgb(53, 51, 51);
    font-size: .7rem;
}



.background-img{
    display: flex;
    font-display: auto;
    gap: 40px;
    padding: 50px;
    margin: 50px;
}

 .features-layout .features-text h2{
    margin-left: 50px;
    font-size: 2.0rem;
    padding: 10px;
}
.features-layout .layout-img{
    display: flex;
    gap: 10px;
    padding: 30px;
    margin: 8px 50px;
}

.choice{
    background-color: rgb(236, 203, 140);
}
.choice .better-layout{
    display: flex;
    padding: 30px;
    gap: 15px;
}
.choice-text{
    font-size: 20px;
    background-color: rgb(235, 186, 96);
    border-radius: 10px;
}
 .view{
    text-decoration: none;
    padding-left: 500px;
    color: black;
}
.better-layout .items-text{
    font-size: 30px;
    font-weight: 100px;
    color: rgb(247, 7, 7);
}
.choice .choice-img{
    padding: 30px;
    margin:  6px 50px;
}



